.form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
}

.form__input {
    flex-grow: 1;
    height: 35px;
    padding: 10px;
    font-size: 14px;
    border-color: #f0efef;
    border-style: solid;
}

.form__input:focus {
    outline: none;
    border-color: #008080;
}

.form__button {
    color: #ffffff;
    background-color: #008080;
    border: none;
    height: 35px;
}

@media (max-width: 767px){
    .form__input {
        width: 100%;
    }

    .form__button {
        width: 100%;
    }
}
